<div class="cart_show">
<p>
<% if current_order.order_items.count==0 %>
<%= raw("Your cart is empty. Add albums to order to proceed.") %>
<% else %>

<% current_order.order_items.each do |order_item| %>
  <div class="col-md-9">
    <%= order_item.album.album_name %>
  </div>
  <div class="col-md-offset-2 col-md-1">
    <%= link_to "x", order_item_path(order_item), method: :delete, remote: :true %> <br>
  </div>
<% end %>
<% end %>
</p>

</div>