<div class="cart_show">
<p>
<% if current_order.order_items.count==0 %>
<%= raw("Your cart is empty. Add albums to order to proceed.") %>
<% else %>
Albums added to cart: <br>
<% current_order.order_items.each do |order_item| %>
  <div class="col-md-3">
    <%= order_item.album.album_name %>
  </div>
  <div class="col-md-offset-2 col-md-7">
    <%= link_to "Remove from Order", order_item_path(order_item), method: :delete, remote: :true %> <br>
  </div>
<% end %>
<% end %>
</p>
<br><br><br>
<%=raw("
<div class='row'>
  <div class='col-sm-offset-6 col-sm-6'>
    <a href='#{payment_page_path}'>
      <div class='signup-updates'>
        <button class='btn btn-lg btn-transparent'>
          <span id='updates'>Continue</span>
        </button>
      </div>
    </a>
  </div>") if !current_order.order_items.empty?
%>
</div>