<p>Albums added to cart:
<% if current_order.order_items.count==0 %>
<%= raw("No albums added to cart") %>
<% else %>
<% current_order.order_items.each do |order_item| %>
  <%= order_item.album.album_name %>
<% end %>
<% end %>
</p>
