<footer class="footer">

	<div class=<%= Width::CONTAINER %>>
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <li><p>Copyright &copy; Alphabeats Limited | The Black Church, St Mary's Place | Dublin 7, Ireland | Whatsapp: +353851496580</p></li>
        </div>
    </div>
    </div>


</footer>

