<footer class="footer">

	<div class=<%= Width::CONTAINER %>>
    <div class="row">
        <div class="col-lg-12">
            <h4><a href="mailto:s+email@alphabeatsmusic.com">If you experience any difficulties or notice any errors, please send us a screenshot or description <i class="fa fa-envelope-o gmlogo"></i></a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br>
            <li><p>Copyright &copy; Alphabeats Limited | The Black Church, St Mary's Place | Dublin 7, Ireland</p></li>
        </div>
    </div>
    </div>


</footer>

