<div class="<%= Width::CONTAINER %> table">
  <nav class="second-navbar">
    <ul class='list-inline pull-right'>
      <li><%= link_to (content_tag(:i, "", :class => "fa fa-user icon-color")+"  PROFILE").html_safe, current_user, :class =>"second-menu-font" %></li>
      <li><%= link_to (content_tag(:i, "", :class => "fa fa-money icon-color")+"  WALLET").html_safe, current_user, :class =>"second-menu-font" %></li>
      <li><%= link_to (content_tag(:i, "", :class => "fa fa-upload icon-color")+"  UPLOADS").html_safe, albums_path, :class =>"second-menu-font" %></li>
    </ul>
  </nav>
</div>
