<h2>About Us</h2>
<p>Alphabeats gives music influencers (bloggers, audiophiles and record labels) the opportunity to invest in songs of unsigned and rising artists.</p> 
<p>1. Upload: Artists upload songs on Alphabeats. We will then put them on all the major streaming services.</p>
<p>2. Invest: Using the Alphabeats stock-market like platform, influencers can invest in their favorite songs.</p>
<p>3. Share: With personal interest in the song's success, investors endorse the track with their followers.</p>
