<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2 class="centre">About Us</h2>
    <p>Alphabeats connect music bloggers and audiophiles with up and coming musicians by providing a platform that allows the former invest in the latter's songs.</p>

  </div><!-- end of col-md -->

</div><!-- end of row -->