<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2 class="centre">About Us</h2> <br>
    <p>Alphabeats gives music influencers (bloggers, audiophiles and record labels) the opportunity to invest in songs of unsigned and rising artists.</p> <br>
    <h4>How it Works</h4>
    <p>
      Artists upload their song on their Alphabeats account. Then, with the help of our chosen aggregator, <a href="https://distrokid.com/">Distrokid</a>, we put the song on all major streaming services - giving the artist (or relevant rightholders) the royalty payments. Musicians can request funding in exchange for the future royalty earnings of a song. Influencers (bloggers, audiophiles, labels) can then bid to invest in the song in a stock market like interface. <br><br>

      This creates magic. By investing in a song, influencers create an opportunity to earn fun money. Obviously, the more that they promote the song, the more they are likely to gain from their investment - creating a win-win situation for all: 
      <li>
        through the promotion efforts led by influencers, musicians gain exposure to new audiences  
      </li>
      <li>
        influencers can make some money in a fun way, as well as establish themselves as music curators 
      </li>
      <li>
        audiences are more likely to discover hidden talents in the music industry
      </li>
    </p>
    <br>
  </div><!-- end of col-md -->

</div><!-- end of row -->