
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>Contact us for questions, feedback, or just to say hello.</h2>
<form action="http://pooleapp.com/stash/d6d06671-300e-4d44-a0f5-a4a62b4a5084/" method="post">
  <div class="row">

    <label for="name"><h4>Your name:</h4></label><br />
    <input id="name" class="input input-style" name="name" type="text" value="" size="70" required /><br />
  </div>
  <div class="row">
    <label for="email"><h4>Your email:</h4></label><br />
    <input id="email" class="input input-style" name="email" type="email" value="" size="70" required/><br />
  </div>
  <div class="row">
    <label for="message"><h4>Your message:</h4></label><br />
    <textarea id="message" class="input input-style" name="message" rows="10" cols="70" required></textarea><br />
  </div>
  <br>
  <input id="submit_button" type="submit" value="Send email" class="btn btn-transparent"/>
</form>

</div>
</div>
<br>
<br>