<form action="http://pooleapp.com/stash/d6d06671-300e-4d44-a0f5-a4a62b4a5084/" method="post">
  <div class="row">
    <label for="name">Your name:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="70" /><br />
  </div>
  <div class="row">
    <label for="email">Your email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="70" /><br />
  </div>
  <div class="row">
    <label for="message">Your message:</label><br />
    <textarea id="message" class="input" name="message" rows="10" cols="70"></textarea><br />
  </div>
  <input id="submit_button" type="submit" value="Send email" />
</form>