
<div class="col-md-offset-2 col-md-8">
<div ng-app="faqApp">

	<h1>Frequently Asked Questions</h1>
	<h2 class="faq-subheads">About Alphabeats</h2>

	<div faqtest>
		<h3 data-toggle="collapse" data-target="#faq1" class="question"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What is Alphabeats?</h3>
		<p id="faq1" class="collapse demo faq-text-style">
			Alphabeats is a website that gives music influencers (bloggers, audiophiles and record labels) the opportunity to invest in songs of unsigned and rising artists.</p>
		</div><!--ends faqtest -->

		<div faqtest>
			<h3 data-toggle="collapse" data-target="#faq1-1" class="question"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What is the difference between Alphabeats and traditional crowdfunding sites?</h3>
			<p id="faq1-1" class="collapse demo faq-text-style">
				Traditional crowdfunding platforms (Kickstarter, Indigogo & ArtistShare) are great to raise money during the creative process. Often times, backers and artists share a promised experience during or after the creative timeline, which puts an end to the exchange between the artist and the backer. <br><br> Alphabeats, on the other hand, aims to get supporters involved in the marketing stage. As influencers invest in songs, they will endorse consistently given their long term interest in the songs' success. <br><br> Please keep in mind, the different types of crowdfunding sites are not mutually exclusive - meaning you can very well use a traditional site to get help producing music, and then join us at Alphabeats to get help promoting your work.</p>
			</div><!--ends faqtest -->

			<div faqtest>
				<h3 data-toggle="collapse" data-target="#faq2"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How does it work?</h3>

				<p id="faq2" class="collapse demo faq-text-style">
					Artists upload their song on their Alphabeats account. Then, with the help of our chosen aggregator, <a href="https://distrokid.com/">Distrokid</a>, we put the song on all major streaming services - giving the artist (or relevant rightholders) the royalty payments. Musicians can request funding in exchange for the future royalty earnings of a song. Influencers (bloggers, audiophiles, labels) can then bid to invest in the song in a stock market like interface. <br><br>
					This creates magic. By investing in a song, influencers create an opportunity to earn fun money. Obviously, the more that they promote the song, the more they are likely to gain from their investment - creating a win-win situation for all: <br>
					1. Through the promotion efforts led by influencers, musicians gain exposure to new audiences <br>  
					2. Influencers can make some money in a fun way, as well as establish themselves as music curators <br>
					3. Audiences are more likely to discover hidden talents in the music industry <br>
				</div><!--ends faqtest -->

				<h2 class="faq-subheads">About the Wallet</h2>

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq3"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why do we use it?</h3>
					<p id="faq3" class="collapse demo faq-text-style">We use the wallet to reduce transaction costs. To do any activity on the website, you will be paying through your wallet to minimize the number of times a payment is made through your bank account. You can withdraw from your wallet anytime.</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq3-1"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why is the default currency USD?</h3>
					<p id="faq3-1" class="collapse demo faq-text-style">Despite being an Irish company, we operate in USD because royalty payouts from the aggregator, <a href="https://distrokid.com">Distrokid</a>, are given in this currency.</p>
				</div><!--ends faqtest -->

				<h2 class="faq-subheads">Uploading Music (for artists)</h2>

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq8-1"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Which streaming services and online stores will Alphabeats upload my music on?</h3>
					<p id="faq8-1" class="collapse demo faq-text-style">Spotify, iTunes, Apple Music, Google Play, Amazon, Rdio, Deezer, Tidal, YouTube Music, Microsoft Groove, MediaNet and 150+ smaller outlets (<a href="http://www.mndigital.com/about-us/customers.html">such as...</a>)</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq8"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Am I eligible to upload music?</h3>
					<p id="faq8" class="collapse demo faq-text-style">Yes. As long as you have the rights to the song, you may upload it on Alphabeats. If you share the rights with others, you can put a note while uploading. From there, we will send a confirmation to the other rightholders that they are okay with the song being uploaded.</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq9"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How much does uploading music and maintaining my account cost?</h3>
					<p id="faq9" class="collapse demo faq-text-style">
						See our <u><%= link_to 'pricing', pricing_path %></u> page
					</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq11"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What if I want to remove my song from the website?</h3>
					<p id="faq11" class="collapse demo faq-text-style">In your dashboard, Edit the song and write a removal request in the Notes field. We will review and act accordingly.</p>
				</div><!--ends faqtest -->

				<h2 class="faq-subheads">Raising Money (for artists)</h2>

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq12"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why should I raise money?</h3>
					<p id="faq12" class="collapse demo faq-text-style">By raising money, you are not just increasing your short term bank balance. You are also creating links with influencers in the industry. These links will motivate them to help your songs succeed, giving you reach to new fans and more time to work on the creative process.</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq13"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What income am I promising my investors? How long does this pledge last?</h3>
					<p id="faq13" class="collapse demo faq-text-style">You will be sharing your online sales and streaming royalties that are linked with Alphabeats. If you decide to remove the song from Alphabeats (if you sell off the rights of the song to another person, for example), you need to buy back the royalty claims from your investors first.</p>
				</div><!--ends faqtest -->

				<div faqtest>
					<h3 data-toggle="collapse" data-target="#faq14"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How much money should I raise? What portion of my earnings should I offer to my investors?</h3>
					<p id="faq14" class="collapse demo faq-text-style">
						We will publish a fundraising guide soon.</p>
					</div><!--ends faqtest -->   

</div><!-- ends faqapp -->
</div>