<div class="col-xs-offset-1 col-xs-10" ng-app="faqApp">
<h1>Frequently Asked Questions</h1>
<h2 class="faq-subheads">About Alphabeats</h2>
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq1" class="question"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What is Alphabeats?</h3>
<p id="faq1" class="collapse demo faq-text-style">
Alphabeats is a music investment platform. A place where music fans become investors through equity crowdfunding. For unsigned musicians, it is a way to gain popularity to eventually score a major record label or continue as an independent artist.</p>
</div><!--ends faqtest -->


<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq2"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How does it work?</h3>
<p id="faq2" class="collapse demo faq-text-style">
Step 1. The musician submits a song through Alphabeats. We put the song on major streaming services through our partner aggregator, DistroKid. Once the song is approved and uploaded, the artist can make an investment request, asking for money in return for a portion of the song's earnings.<br/>

Step 2. Fans of the song can invest in it, giving them a claim of the song's income. This motivates them to share the song to others (from their preferred streaming service). As more people download or stream the song, the artist and the song's investors will receive higher payouts and the song will climb ranks in the well known streaming platforms.<br/>

Step 3. Soon the song's payouts will exceed the amount the investor gave, giving them an income opportunity. Alternatively, the investor can sell their claim of income of the song to other investors on the Alphabeats marketplace. More importantly, the song will be exposed to a wider audience in the process, and create more fans for the future!<br/>

</div><!--ends faqtest -->


<h2 class="faq-subheads">About the Wallet</h2>
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq3"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why do we use it?</h3>
<p id="faq3" class="collapse demo faq-text-style">We use the wallet to reduce transaction costs. To do any activity on the website, you will be paying through your wallet to minimize the number of times a payment is made through your bank account. You can withdraw from your wallet anytime.</p>
</div><!--ends faqtest -->

<h2 class="faq-subheads">Streaming, Downloading</h2>
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq4"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How much does it cost?</h3>
<p id="faq4" class="collapse demo faq-text-style">Streaming and downloads on Alphabeats costs 1 cent and 1 dollar, respectively. Alternatively, you can easily access the song on your prefered service.</p>
</div><!--ends faqtest -->

<h2 class="faq-subheads">Investing in Artists</h2>
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq4-1"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How should I approach investing in music?</h3>
<p id="faq4-1" class="collapse demo faq-text-style">We will publish an investment guide soon.</p>
</div><!--ends faqtest -->

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq5"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Where does my money go?</h3>
<p id="faq5" class="collapse demo faq-text-style">If you buy the claim of income from the artist, the money goes to them. They can use it as to work on new music, or to cover their daily expenses. If you buy the claim of income from other investors, the money will go to their account.</p>
</div><!--ends faqtest -->
    
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq6"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why should I invest?</h3>
<p id="faq6" class="collapse demo faq-text-style">You know it’s a great song, and now is your chance to benefit from your discovery. This is your opportunity to rise with your favorite independent artists. Whether you are an avid listener, or an aspiring agent, now is the time to put your money where your ears are.</p>
</div><!--ends faqtest -->

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq7"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How can I cash out on my investments?</h3>
<p id="faq7" class="collapse demo faq-text-style">Simply sell the royalty claim by making an offer. If your offer is matched, we will carry out the trade and you will see the money in your wallet. Then, withdraw it from your wallet to see it reach your bank account.</p>
</div><!--ends faqtest -->

<h2 class="faq-subheads">Uploading Music (for artists)</h2>
<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq8"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Am I eligible to upload music?</h3>
<p id="faq8" class="collapse demo faq-text-style">Currently we only work with students and alumni from Berklee College of Music (Boston). One way around this is if you can obtain a musician code (either through someone that already has music on the platform or by contacting us)</p>
</div><!--ends faqtest -->


<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq9"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What is the process to upload a song, and what how much does it cost?</h3>
<p id="faq9" class="collapse demo faq-text-style">Sign up as an artist for $20 a year (as quoted by DistroKid, our aggregation partner). Then you can upload unlimited number of songs. For a limited time only, Alphabeats will pay your first year fee!</p>
</div><!--ends faqtest -->

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq10"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What are the benefits of using this website? </h3>
<p id="faq10" class="collapse demo faq-text-style">As an independent musician, you get short term and long term benefits. Starting with the former, you will be able to raise money for financial security and your songs will be shared more by fans, leading to higher payouts. The long term benefit is that your music will have reached places you wouldn't have had access to on your own. This means you will have fans spreaded across the globe eager to listen to your new music, attend your concerts and purchase your merchandise.</p>
</div><!--ends faqtest -->

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq11"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What if I want to remove my song from the website?</h3>
<p id="faq11" class="collapse demo faq-text-style">You can only remove a song if you are the one that uploaded it to this website. To remove the song from this website, you would need to own 100% of the income claim. Once this is achieved, send us a message and we will take care of this for you.</p>
</div><!--ends faqtest -->

<h2 class="faq-subheads">Raising Money (for artists)</h2>

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq12"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;Why should I raise money?</h3>
<p id="faq12" class="collapse demo faq-text-style">Allowing fans to invest in your songs is a great way to increase fan engagement and motivate them to increase awareness about the song.</p>
</div><!--ends faqtest -->


<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq13"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;What income am I promising my investors? How long does this pledge last?</h3>
<p id="faq13" class="collapse demo faq-text-style">You will be sharing a portion of your streaming and download income. The income sharing continues until you attain 100% of the claim of the song's income. This does not include concert tickets, merchandise, or other forms of income.</p>
</div><!--ends faqtest -->


<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq14"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How much money should I raise? What portion of my earnings should I offer to my investors?</h3>
<p id="faq14" class="collapse demo faq-text-style">
We will publish a fundraising guide soon.</p>
</div><!--ends faqtest -->

<h2 class="faq-subheads">
Getting involved</h2>

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq15"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How can I join the Alphabeats team?</h3>
<p id="faq15" class="collapse demo faq-text-style">Contact us with the subject "joining the team". We will try our best to set you up.</p>
</div><!--ends faqtest -->

<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq16"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How can I learn about investing in Alphabeats?</h3>
<p id="faq16" class="collapse demo faq-text-style">That's flattering – but we just started. Still, please feel free to get in touch with us to boost our confidence.</p>
</div><!--ends faqtest -->


<div faqtest>

	<h3 data-toggle="collapse" data-target="#faq17"><span class="glyphiconstyle glyphicon glyphicon-chevron-right"></span>&nbsp;How can I access streaming/download stats for personal interest?</h3>
<p id="faq17" class="collapse demo faq-text-style">If you go click on a song's name, you will get to see stats on the song. We will start providing periodic data reports soon.</p>
</div><!--ends faqtest -->

<br>
<br>
<br>

</div>

