<div class="col-xs-offset-1 col-xs-10">
<h1>Frequently Asked Questions</h1>
<h2 data-toggle="collapse" data-target=".demo" >(Toggle FAQ)</h2>

              
<h2 class="faq-subheads">About Alphabeats</h2>

<h3 data-toggle="collapse" data-target="#faq1">What is Alphabeats?</h3>
<p id="faq1" class="collapse demo faq-text-style">
Alphabeats is a music investment platform. A place where music fans become investors.
</p>

<h3 data-toggle="collapse" data-target="#faq2">How does it work?</h3>
<p id="faq2" class="collapse demo faq-text-style">
Step 1. The musician uploads song on our website, and makes an investment request with 2 inputs: how much money she wants to raise, and what percent of the streaming/download income of that particular song she will give to her investors<br/>

Step 2. We (Alphabeats) go through a partner aggregator to get the songs on major distribution channels<br/>

Step 3. Investors can browse through our website and choose to invest in songs that they like. Once invested, they share the links of the song (using their prefered streaming service) on their social networks – thus maximising exposure and income of the song<br/>

Step 4. The income is distributed between the claimholders. They can sell their claim of the income to others in the websites marketplace.<br/>
</p>

<h2 class="faq-subheads">About the Wallet</h2>
<h3 data-toggle="collapse" data-target="#faq3">Why do we use it?</h3>
<p id="faq3" class="collapse demo faq-text-style">We use the wallet to reduce transaction costs. To do any activity on the website, you will be paying through your wallet to minimize the number of times a payment is made through your bank account. You can withdraw from your wallet anytime.</p>

<h2 class="faq-subheads">Streaming, Downloading</h2>
<h3 data-toggle="collapse" data-target="#faq4">How much does it cost?</h3>
<p id="faq4" class="collapse demo faq-text-style">Streaming and downloads on Alphabeats costs 1 cent and 1 dollar respectively. Alternatively, you can easily access the song on your prefered service.</p>

<h2 class="faq-subheads">Investing in Artists</h2>
<h3 data-toggle="collapse" data-target="#faq5">Where does my money go?</h3>
<p id="faq5" class="collapse demo faq-text-style">If you buy the claim of income from the artist, the money goes to them. They can use it as to work on new music, or to cover their daily expenses. If you buy the claim of income from other investors, the money will go to their account.</p>
    
<h3 data-toggle="collapse" data-target="#faq6">Why should I invest?</h3>
<p id="faq6" class="collapse demo faq-text-style">You know it is a great song, and now is your chance to benefit from your discovery. This is your opportunity to rise with your favorite independent artists.</p>

<h3 data-toggle="collapse" data-target="#faq7">How can I cash out on my investments?</h3>
<p id="faq7" class="collapse demo faq-text-style">Simply sell the claim of income by making an offer. If your offer is matched, we will carry out the trade and you will see the money in your wallet. Then, withdraw it from your wallet to see it reach your bank account.</p>

<h2 class="faq-subheads">Uploading Music (for artists)</h2>
<h3 data-toggle="collapse" data-target="#faq8">Am I eligible to upload music (musician code)?</h3>
<p id="faq8" class="collapse demo faq-text-style">Currently we only work with students and alumni from Berklee College of Music (Boston). One way around this is if you can obtain a musician code (either through someone that already has music on the platform or by contacting invite@alphabeatsmusic.com)</p>


<h3 data-toggle="collapse" data-target="#faq9">What is the process to upload a song, and what how much does it cost?</h3>
<p id="faq9" class="collapse demo faq-text-style">Annual fee for a single is $9.99, an EP is $20.00, and an album is $34.00. This fee will be deducted from the song's income. For a limited time, Alphabeats will cover 100% of the first year fee for all uploads!</p>

<h3 data-toggle="collapse" data-target="#faq10">What are the benefits of using this website (raising money + income + fans)? </h3>
<p id="faq10" class="collapse demo faq-text-style">As an independent musician, you get short term and long term benefits. Starting with the former, you will be able to raise money for financial security and your songs will be shared more by fans, leading to higher payouts. The long term benefit is that your music will have reached places you wouldn't have had access to on your own. This means you will have fans spreaded across the globe eager to listen to your new music, attend your concerts and purchase your merchandise.</p>

<h3 data-toggle="collapse" data-target="#faq11">What if I want to remove my song from the website?</h3>
<p id="faq11" class="collapse demo faq-text-style">You can only remove a song if you are the one that uploaded it to this website. To remove the song from this website, you would need to own 100% of the income claim. Once this is achieved, send us a message and we will take care of this for you.</p>

<h2 class="faq-subheads">Raising Money (for artists)</h2>

<h3 data-toggle="collapse" data-target="#faq12">Why should I raise money?</h3>
<p id="faq12" class="collapse demo faq-text-style">Raising money helps you in many ways. Firstly, you have a sense of financial security or are able to cover some expenses. Next, you can create a deeper connection with fans as they invest in your songs.</p>


<h3 data-toggle="collapse" data-target="#faq13">What income am I promising my investors? How long does this pledge last?</h3>
<p id="faq13" class="collapse demo faq-text-style">You will be sharing a portion of your streaming and download income. The income sharing continues until you attain 100% of the claim of the song's income. This does not include concert tickets, merchandise, or other forms of income.</p>


<h3 data-toggle="collapse" data-target="#faq14">How much money should I raise? What portion of my earnings should I offer to my investors (guide)?</h3>
<p id="faq14" class="collapse demo faq-text-style">
There is no one size fits all for this guide. There are different approaches based on your current priority. Below are 3 of many possible approaches:<br/>

The first approach is by deciding how much money you need currently. Then, make an offer with this amount in return for a low portion of income of the song. You may find that someone invests. Alternatively, you may find that people made counteroffers. If neither, you may consider increasing the portion of income to give your investors.<br/>

Another approach is to see how much exposure you want. If you are finding difficult to gain exposure, perhaps you can consider offering higher claim of income – hopefully leading to more investors sharing your work on their social networks.<br/>

If you have uploaded a song before, you can get a good idea of how much income your music brings in. Use this data to make your decision.</p>

<h2 class="faq-subheads">
Getting involved</h2>

<h3 data-toggle="collapse" data-target="#faq15">How can I join the Alphabeats team?</h3>
<p id="faq15" class="collapse demo faq-text-style">Email me: s@alphabeatsmusic.com. We will try our best to set you up.</p>

<h3 data-toggle="collapse" data-target="#faq16">How can I learn about investing in Alphabeats?</h3>
<p id="faq16" class="collapse demo faq-text-style">That's flattering – but we just started. Still, please feel free to get in touch with us via email (s@alphabeatsmusic.com) and we'll keep you close to our hearts.</p>


<h3 data-toggle="collapse" data-target="#faq17">How can I access streaming/download stats for personal interest?</h3>
<p id="faq17" class="collapse demo faq-text-style">If you go click on a song's name, you will get to see stats on the song. In addition, we will provide periodic data reports on the newsletter. Someday, we will consider making APIs for easy access of information.</p>

<br>
<br>
<br>

</div>

