<!DOCTYPE html>
<html>
<head>
<title>Alphabeats - Invest in music</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.ico' %>

</head>

<div class="row" id="home">
  <div id="cover">
  <h3>Alphabeats: Invest in Music</h3>
  </div><!-- ends #cover -->
  <div id="welcome-text">
  <h1>A Crowdsourced Record Label</h1>
  <p>Invite the music industry's bloggers and influencers to <b>invest in your songs</b>. Then, let them promote your music while you continue busking and producing new tracks.</p>
  </div><!-- ends #welcome-text -->
  <div id="mobile-steps">
    <p>1. Upload: Artists upload songs on Alphabeats. We will then put them on all the major streaming services.</p>
    <p>2. Invest: Using the Alphabeats stock-market like platform, influencers can invest in their favorite songs.</p>
    <p>3. Share: With personal interest in the song's success, investors endorse the track with their followers.</p>
  </div>
  <div class="row"id="icon-welcome-text">
    <div class="fbright">
    <a href="https://www.facebook.com/alphabeatsmusic"><i class="fa fa-facebook fblogo"></i></a>
    <a href="https://www.instagram.com/alphabeats_music/"><i class="fa fa-instagram iglogo"></i></a>
    <a href="mailto:s+email@alphabeatsmusic.com"><i class="fa fa-envelope-o gmlogo"></i></a>

    </div>
  </div> <!-- ends icon-welcome-text -->
</div><!-- ends #home -->
</html>
