<!DOCTYPE html>
<html>
<head>
<title>Alphabeats - Invest in music</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.ico' %>

</head>

<div class="container-fluid">

<div class="row" id="home">
<div id="cover">
<h1>Alphabeats: Invest in Music</h1>
</div><!-- ends #cover -->
<div id="welcome-text">
<h1>A Crowdsourced Record Label</h1>
<p>Invite the music industry's bloggers and influencers to <b>invest in your songs</b>. Then, let <br>them promote your music while you continue busking and producing new tracks.</p>
<div class="row"id="icon-welcome-text">
<div class="col-md-3"></div>
<div class="col-md-6">
<a href="#about-us"><i class="fa fa-long-arrow-down"></i></a>
</div>
<div class="col-md-2 fbright">
<a href="https://www.facebook.com/alphabeatsmusic"><i class="fa fa-facebook fblogo"></i></a>
<a href="https://www.instagram.com/alphabeats_music/"><i class="fa fa-instagram iglogo"></i></a>
<a href="mailto:s+email@alphabeatsmusic.com"><i class="fa fa-envelope-o gmlogo"></i></a>
</div>
</div>
</div><!-- ends #welcome-text -->

</div><!-- ends #home -->

</div>

</html>
