<div class="col-md-offset-3 col-md-6">
  <h1>Just one more step...</h1>
  
  <h3>We will send you a confirmation email shortly. Please verify the account by clicking on the link provided in the message. If you are unable to find the email, it may be in your Spam folder or you have put the incorrect email address. Contact <a href="mailto: s@alphabeatsmusic.com">s@alphabeatsmusic.com</a> for help.</h3>
</div>


