<h1>Just One more step and you will be done </h1>
<p>You have been sent an email to confirm your email address which in you will be receiving in the next few minutes. You can login and proceed as soon as you click the confirmation link. Please do it immediately and don't postpone it.</p>
