<div class="<%= Width::CONTAINER %>">
<div class="row">
  <div class="col-md-6">
    <h2 class="center-text" >My Open Bids</h2>
  
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Bid Status</th>
          <th>Bid Share</th>
          <th>Bid amount</th>
          <th>Bid Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
       <%= render @bids %>
     </tbody>
   </table>
  </div>
  <div class="col-md-6">
    <h2 class="center-text" >My Open Offers</h2>
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Offer Status</th>
          <th>Offer Share</th>
          <th>Offer amount</th>
          <th>Offer price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
       <%= render @offers %>
     </tbody>
   </table>
  
  </div>
</div>
</div>
