<%= render "songs/secondheader" %>
<br>
<br>
<br>
<br>
<br>

<div class="col-md-offset-2 col-md-8" id="post_login_home">
  <p>
    Welcome to Version A of Alphabeats. We are excited to announce that we are now ready for users, and would like to invite you to start uploading your music onto our platform. Once you upload your tracks on Alphabeats, we will be putting them on major streaming services and certain online stores (such as Spotify, iTunes, AppleMusic, etc.) Shortly after, we will send you an email containing the links to your tracks on these platforms, which you will be able to share, enabling you to start generating plays (and royalties). All of the royalties will be collected from the services, which we will then deliver to your account.

    Ready to upload a song? Follow these easy steps:
    1. Create an album (regardless of if you are only uploading a single)
    2. Upload a song(s) in the album
    3. Go to cart and confirm the album/ track details
    4. Select extra features that you would like to opt in for
    5. Confirm payment
    6. Leave the rest to us! 

    Be sure to keep an eye out for new developments that we are currently working on:
    1. Profile Page – Your followers will easily be able to locate and listen to your work on their preferred streaming service 
    2. The Trading Platform – Influencers and fans alike, will be able to start investing and endorsing your music!

    <a href="/faq">Click here for FAQs</a><br><br>

    <a href="/pricing">Click here for Pricing</a><br><br>
  </p>
</div>