<%= render "songs/secondheader" %>
<br>
<br>
<br>
<br>
<br>

<div class="col-md-offset-2 col-md-8" id="post_login_home">
  <p>
    Welcome to the Version A of Alphabeats. At this moment, we would like to invite you to start uploading your music. Once you upload tracks, we will put them on major streaming services and online stores. Then, we will send you an email with the links to your music on these platforms so you can start sharing it with your followers and get plays. This will generate royalties from the services, which we will collect and deliver to your account. <br><br>

    In the meanwhile, we are working on building developing: <br>
    1. your profile page – so that your followers can easily find your work and listen to it on their prefered streaming service <br>
    2. the trading platform – so that influencers can start investing and endorsing your music.

    <br><br>
    To start uploading, follow these steps:<br>
    1. Create an album (regardless of if you are uploading a single)<br>
    2. Upload a song(s) in the album<br>
    3. Go to cart and confirm the album/ track details<br>
    4. Select extra features that you would like to opt in for<br>
    5. Confirm payment<br><br>


    <a href="/faq">Click here for FAQs</a><br><br>

    <a href="/pricing">Click here for Pricing</a><br><br>
  </p>
</div>