<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <h2 class="centre">Pricing Menu for Artists</h2><br>
    <p>
      <b>Unlimited Upload Fee - $20/year</b><br>
      Pay a flat annual fee for unlimited song uploads on 150+ streaming services.
    </p>
    <p>
      <br><b><u>Extra Charges per song uploaded</u></b><br>
    </p>
    <p>
      <b>Cover songs - $12/year</b><br>
      This fee is used to compensate the original artist, obtain licenses, keep-up-to-date with copyright laws regarding the subject matter.
    </p>
    <p>
      <b>Shazam & iPhone Siri - $0.99/year</b><br>
      Make it easy for people to identify this single if they hear it playing on radio/tv, in stores, restaurants, parties, etc.
    </p>
    <p>
      <br><b><u>Singles</u></b><br>
    </p>
    <p>
      <b>YouTube Money - $4.95/year + 20% of YouTube ad revenue</b><br>
      Get notified & paid if your music is ever used in any YouTube videos. We'll add this single to YouTube's Content ID database, and continually scan for matches. When your music is detected in any YouTube video, you'll be notified—and ad revenue will automatically go to you, instead of to the person who uploaded the video.
    </p>
    <p>
      <b>Store Maximizer - $7.95/year</b><br>
      DistroKid will automatically deliver this single to new stores and streaming services as we add them. Which is often. We'll give you notice before adding.
    </p>
    <p>
      <br><b><u>Albums</u></b><br>
    </p>
    <p>
      <b>YouTube Money - $14.95/year + 20% of YouTube ad revenue</b><br>
      Get notified & paid if your music is ever used in any YouTube videos. We'll add this album to YouTube's Content ID database, and continually scan for matches. When your music is detected in any YouTube video, you'll be notified—and ad revenue will automatically go to you, instead of to the person who uploaded the video.
    </p>
    <p>
      <b>Store Maximizer - $7.95/year</b><br>
      DistroKid will automatically deliver this album to new stores and streaming services as we add them. Which is often. We'll give you notice before adding.
    </p>

  </div>
</div>