<%= render "songs/secondheader" %>
  <br>
  <br>
  <br>
<div class="container">
  <div class="row">
    <div class="col-md-12">   
    <p>As long as you maintain sufficient balance in your wallet the following subscriptions will be automatically renewed. This page displays your active subscriptions. When you do not have sufficient balance in your wallet you will receive an email at an appropriate time to add funds to continue your subscription</p>
    </div>
  </div>
</div>
