<div class="col-md-6">
<p>
<ul>1. I authorize Alphabeats Limited to upload the attached songs to Distrokid on my behalf.</ul>

<ul>2. I agree to comply with DistroKid's terms and conditions. Any Violation of these terms or conditions will not make Alphabeats Limited liable:
<ul>I recorded this music, and am authorized to sell it in stores worldwide & all royalties</ul>
<ul>I'm not using any other artist's name, in my name, song titles, or album title, without their approval</ul>
</ul>

<ul>3. If I leave the Alphabeats Platform, my DistroKid account will be terminated and deleted.</ul>

<ul>4. I have full rights to the song that I am uploading, and the song do not violate any copyright law. I am entitled to the earnings of the song.</ul>

<ul>5. I have not, and will not, upload this song on any of the same or similar streaming platforms offered by DistroKid. These include: 
  <ul>Spotify</ul>
  <ul>iTunes</ul>
  <ul>Apple Music (streaming)</ul>
  <ul>Google Play</ul>
  <ul>Amazon</ul>
  <ul>Rdio</ul>
  <ul>Tidal</ul>
  <ul>YouTube Music</ul>
  <ul>Microsoft Groove</ul>
  <ul>MediaNet and 150+ smaller outlets <u><a href="http://www.mndigital.com/about-us/customers.html">such as...</a></u></ul>
</ul>

<ul>6. I have reviewed the submitted details of the song. Making any changes of song details and additional options are subject to DistroKid's policy. Currently, their policy is that they remove the song, and re-upload it onto all the stores. Please note that this means your streaming stats will be cleared out.</ul>

<ul>7. I give Alphabeats permission to display my streaming performance statistics on the website.</ul>

<ul>8. Current pricing is $20 per year per artist for an unlimited number of songs. Extra options for uploads will incur additional charges for the artist. Alphabeats holds the right to modify its pricing and change its services subject to prior written notice.</ul>
</p>
  
</div>