<h1>Hello <%= @user.first_name %></h1>
<h4>Welcome to your profile page</h4>

<p>
The following are your details: <br/><br/>

First Name: <%= @user.first_name %> <br/>
Last Name: <%= @user.last_name %> <br/>
</p>
