<%= render "songs/secondheader" %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1 class="center-text" >Upload New Song</h1>
  </div>
</div>

<%= render partial: "form", locals: {song: @song} %>

<script type="text/javascript">
	$(document).ready(function(){
	  $("#song_self_written_true").change ( function(){
	    if($('#song_self_written_true').is(':checked')) { document.getElementById('cover_song').style.display = 'none'; }
	  });
	  $("#song_self_written_false").change ( function(){
	    if($('#song_self_written_false').is(':checked')) { document.getElementById('cover_song').style.display = 'block'; }
	  });
	})
</script>



<!-- 
      $("#cover_song").style['display'] = 'block';
    } 
    else {
      $("#cover_song").style['display'] = 'none';  -->