<%= render "songs/secondheader" %>
<%= render partial: "albums/album_show", locals: {album: @album}  %>
<div class="col-md-offset-3 col-md-6 center">
  <h4><u><a href="/songs/new">You can add songs to this album by clicking here</a></u></h4>
</div>