//////////////////////////////////
//// Custom Bootstrap button  ////
//////////////////////////////////
.btn-transparent { 
  color: black; 
  // background-color: #611BBD;
  background-color: #F8F8FF; 
  // border-color: #130269; 
  border-color: #F8F8FF;
  border-radius: 100px;
  padding: 14px 60px; 
  transition: 1.5s;
  font-size: 1.25em;
} 
 
.btn-transparent:hover, 
.btn-transparent:focus, 
.btn-transparent:active, 
.btn-transparent.active, 
.open .dropdown-toggle.btn-transparent { 
  color: red; 
  // background-color: #49247A;
  background-color: #f8f8e6;
  // opacity: 0.5; 
  // border-color: #130269;
  border-color: #f8f8e6; 
  transition: 1.5s;
} 
 
.btn-transparent:active, 
.btn-transparent.active, 
.open .dropdown-toggle.btn-transparent { 
  background-image: none; 
} 
 
.btn-transparent.disabled, 
.btn-transparent[disabled], 
fieldset[disabled] .btn-transparent, 
.btn-transparent.disabled:hover, 
.btn-transparent[disabled]:hover, 
fieldset[disabled] .btn-transparent:hover, 
.btn-transparent.disabled:focus, 
.btn-transparent[disabled]:focus, 
fieldset[disabled] .btn-transparent:focus, 
.btn-transparent.disabled:active, 
.btn-transparent[disabled]:active, 
fieldset[disabled] .btn-transparent:active, 
.btn-transparent.disabled.active, 
.btn-transparent[disabled].active, 
fieldset[disabled] .btn-transparent.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-transparent .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}

// end custom bootstrap button


//////////////////////////////////
////     body customization  ////
//////////////////////////////////

body{
  // background-image: url("abbackground_001.jpg");
  // background-position: 0% 0%;
  // background-size: cover;
  // // background-repeat: repeat-y;
  // background-repeat: none;
  
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  // background: url('abbackground_001.jpg') no-repeat top center fixed;
  // background: url('purple.png');
  background-color:   #F8F8FF; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  a {
    color:black;
    &:hover{
    text-decoration: underline;
    color:black;
    }
    &:active{
     color:black; 
    }
    &:focus{
      color:black;
    }
  } // end of anchor tag

  select option {
    color:black;
  }

} // end of body tag


