//////////////////////////////////
//// 		Form styles		  ////
//////////////////////////////////

.field, .actions {
	input{
    background-color: transparent;
    border-style: solid;
    color: white;
    font-size: 1.2em;
    border-color: white;
		 &:focus{
		    	border-color: white;
		    }
	}
}

//END form styles