// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
height: 100%;
margin:0;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3em;
}
.footer, .push {
height: 3em;
}


body{
	background-image: url("abbackground.jpg");
	background-position: 0% 0%;
	background-size: cover;
	background-repeat: repeat-y;
	text-align: center;
	color: white;
	a {
		color:white;
		&:hover{
		text-decoration: underline;
		color:white;
		}
	}

}

#homepage-carousel{
	.carousel-control.left, .carousel-control.right  {
	   background-image: none;

	}
}

.signup-updates{
	width: 350px;
	height:70px;
	background-color: #8e44ad;
	margin: 270px auto;
	border-radius: 5px;
	#updates {
		font-size: 2em;
		vertical-align: -70%;
	}
}

#updates-path{
	a:hover {
		text-decoration: none;
	}
}

#logoheader {
 img{
 	max-width: 250px;
 	height:auto;
 	margin-top: -15px;
 }
}
