// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//////////////////////////////////
//// 			Footer		  ////
//////////////////////////////////

//Fix footer to bottom
html, body {
height: 100%;
margin:0;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3em;
}
.footer, .push {
height: 3em;
text-align: center;
}
// End of footer //




//////////////////////////////////
////        Home Page         ////
//////////////////////////////////

#homepage-carousel{
	.carousel-control.left, .carousel-control.right  {
	   background-image: none;

	}
}

.signup-updates{
	// width: 350px;
	// height:70px;
	// background-color: #8e44ad;
	margin: 20vh auto;
	// border-radius: 5px;
	text-align: center;
	#updates {
		font-size: 1.3em;
		// vertical-align: -70%;
	}
}


// end home page //


//////////////////////////////////
////       		Header        ////
//////////////////////////////////
#logoheader {
 img{
 	max-width: 250px;
 	height:auto;
 	margin-top: -0.75em;
 }
}

#navbarupdates {
	margin-top: 0.5em;
}

#navupdates{
	font-size: 1.5em;
	margin-top: 0.5em;
	&:hover{
		background-color: transparent;
		text-decoration: underline;
	}
}
.icon-bar {
	background-color: white;
}
// End header //


//////////////////////////////////
//// 		FAQ              ////
//////////////////////////////////
.faq-subheads {
	text-decoration: underline;
}

.faq-text-style{
	font-size: 1.2em;
}
.glyphiconstyle{
	font-size: 0.6em;
}

// End FAQ //

//////////////////////////////////
//// 			Letter		  ////
//////////////////////////////////
.centre {
	text-align: center;
}