// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-albums{
  .nav-tabs {
    border:none;
  }
  li.active {
    background-color:transparent;
    text-decoration:underline;

  }
  a {
    background-color:none;
  }
}

.circle-icon {
  $circle-size:30px;
  background: #8d80ac;
  width: $circle-size;
  height: $circle-size;
  text-align: center;
  line-height: $circle-size;
  vertical-align:middle;
  border-radius: 50%;
  border: 1px solid #fff;
}

.profile-box {
  margin: auto;
  width: 90%;
  // #7870A9
  // height: 20vh;
  // border: 3px solid #73AD21;
  background-color:#8d80ac; 
  padding: 10px;

  

}

.list-albums{

   .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    // color: #555555;
    // color: #8d80ac;
    color: #fff;
    background-color:rgba(255,255,255,0.3);
    // opacity:0.4;
    border: 1px solid transparent;
    // border-bottom-color: transparent;
    cursor: default;
  }

.nav-tabs > li > a:hover{
    color: #fff;
    background-color:rgba(255,255,255,0.6);
    // opacity:0.4;
    border: 1px solid transparent;
    // border-bottom-color: transparent;
    cursor: default;

}

}

