// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-albums{
  .nav-tabs {
    border:none;
  }
  li.active {
    background-color:transparent;
    text-decoration:underline;

  }
  a {
    background-color:none;
  }
}
